/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   width: 100vw;   
   overflow: scroll;
 

  .panel {
    text-align: center;
  }

  .panel-primary {
    border-color: rgb(223, 59, 0);

    .panel-heading {
      background-color: rgb(223, 59, 0);
      border-color: rgb(223, 59, 0);
      font-family: 'Karla', sans-serif;
      font-weight: bold;
    }

    p {
      font-family: 'Karla', sans-serif;
      font-weight: bold;
    }
  }

  #food_panel {
    padding-left: 2vw;
  }

  .row {

    #recipe {

      h1 {
        font-size: 9vh;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 15vh;
      }
    }

  }

table {
  thead {
    tr {
      th {
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
      }
    }
  }
  tbody {
    tr {
      td { 
        
        font-family: 'Karla', sans-serif;
        font-weight: 600;

        .btn {
          background-color: rgb(207, 196, 40);
          color: antiquewhite;
          font-family: 'Abril Fatface', cursive;
          font-weight: 900;
        }  
        .btn:hover {
          color: black;
        }      
      }
    }
  }
}


.recipe-link {
  font-family: 'Abril Fatface', cursive;
  font-weight: 800;
  font-size: large;
  text-decoration: none;
  background-color: transparent;  
  color: black;  
 
}

.recipe-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.page_links {
  font-size: larger;
  font-weight: 900;
  text-decoration: none;
  margin-left: 5vw;  
  margin-top: 15vh;
  margin-bottom: 10vh;  
  
  a {
    color: black; 
  }

  a:hover {
    text-decoration: none;
    color: black;
    background-color: transparent;
  }

  }
}