.footer {
  width: 100vw;
  height: 10vh;
  margin-top: 10vh; 
  background-color: rgb(70, 70, 70);
  
  p {
    font-family: 'Karla', sans-serif;
    color:antiquewhite;
    font-weight: bold;
    text-align: center;    
    font-size: medium;
    line-height: 10vh;
    margin-bottom: 0;

  }
}