// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-recipe {
  margin-left: 3vw; 

  p {
    margin: 3vh 0;      
    strong {
      font-family: 'Oswald', sans-serif;
      font-weight: bolder;
      font-size: 3.5vh;      
    }

    span {
      font-family: 'Karla', sans-serif;
      font-size: 2.7vh;
      font-weight: 500;
    }
  }
}

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 7vh;
    text-align: center;
   
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .field {
      margin: 2vh 0;
      width: 25vw;

      label {
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        display:flex;
      }

      #recipe_title {
        width: 18vw;
        height: 6vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #recipe_cooking_time {
        width: 18vw;
        height: 6vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }      

      #recipe_ingredients {
        width: 18vw;
        height: 15vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #recipe_procedure {
        width: 18vw;
        height: 15vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }      

    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vh 0;
      width: 25vw;

      label {
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        
      }


      #recipe_difficulty_level {
        width: 18vw;
        height: 5vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #recipe_food_type_id {
        width: 18vw;
        height: 5vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #recipe_food_preference_id {
        width: 18vw;
        height: 5vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #recipe_cuisine_id {
        width: 18vw;
        height: 5vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }
    }

    .actions {
      width: 18vw;
      margin-top: 5vh;
      
      input[type="submit"] {           
        background-color: rgb(223, 59, 0);
        border-radius: 0.354em;
        border: solid rgb(223, 59, 0);
        color: black;      
        font-weight: bold;      
        width: 18vw;
        height: 7vh;      
        text-align: center;
        
      }
    }
  }

  a {          
    font-family: 'Abril Fatface';
    text-decoration: none;          
    color: rgb(0, 0, 0);
    background-color: transparent; 
    font-size: 3vh;
    font-weight: 700;           
  }  
  
  a:hover {
    text-decoration: none;
    background-color: transparent;
    color: black;
  }
