 
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 7vh;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
      margin: 2vh 0;
      width: 18vw;
      
      label {
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
      }

      #user_email {
        width: 15vw;
        height: 6vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #user_password {
        width: 15vw;
        height: 6vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }

      #user_password_confirmation {
        width: 15vw;
        height: 6vh;
        border: black solid 2px;
        border-radius: 10px;
        outline: none;
      }
    }
    .actions {
      width: 18vw;
      
      input[type="submit"] {           
        background-color: rgb(223, 59, 0);
        border-radius: 0.354em;
        border: solid rgb(223, 59, 0);
        color: black;      
        font-weight: bold;      
        width: 9vw;
        height: 7vh;      
        text-align: center;
        
      }

      input, textarea {      
        text-align: center;
        
      }
    }
  }

  .shared-links {

    a {          
      font-family: 'Abril Fatface';
      text-decoration: none;          
      color: rgb(0, 0, 0);
      background-color: transparent; 
      font-size: 3vh;
      font-weight: 700;           
    }  
    
    a:hover {
      text-decoration: none;
      background-color: transparent;
      color: black;
    }
  }